<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no seu meetapp: {{ meetup }}</p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
</p>
